*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
main{
    width: 90vw;
    border: 1px solid gray;
    margin: 50px auto;
    text-align: left;
}
main h1{
    font-size: 28px;
    padding: 15px 0;
    font-weight: bold;
}
main p{
    font-size: 20px;
    padding-bottom: 15px;
}